
span.error {
  color: red;
  padding: 19px;
}
div {
  display: grid;
}
h1 {
  display: flex;
}

.toppings-list,
.total {
  width: 30%;
  margin: 0 auto;
}

.toppings-list {
  list-style: none;
  padding: 0;
}

.toppings-list li {
  margin-bottom: 0.5rem;
}


@media screen and (max-width: 600px) {
  .toppings-list,
  .total {
    width: 90%;
  }
}
.form-control {
    height: 13px;
}

span {
  color: darkred;
}

.help-block {
  color: #f10505;
}